/* Main colors */
:root {
	--main-dark: #0D1D2D;
	--main-middle: #52b4ED;
	--main-white: #EEEFF2;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	overflow: hidden;
}


.background {
	font-family: "font-family: 'Georgia', serif";
	background-color: var(--main-dark);
}

#nav {
	position: fixed;
	width: 100%;
	height: 8vh;
	background-color: rgba(var(--main-dark), 0.7);
	-webkit-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	overflow: hidden;

	display: flex;
	align-items: center;
	flex-flow: row;
}

#headName {
	color: var(--main-white);
	margin-left: 2vw; 
	font-size: 4vh;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
	white-space: nowrap;
}

#itemBox {
	position: absolute;
	width: 40%;
	height: 100%;
	right: 8%;
	top: 0;
	display: flex;
	display: -webkit-flex;
	/* Safari */
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#extentButton {
    display: none;
}

#extentBoxBackground {
	display: none;
}

.navItems {
	color: var(--main-white);
	font-size: 2vh;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
}

#homeArea {
	position: relative;
	left: 8%;
	top: 8vh;
	height: 92vh;
	width: 92%;
	display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

#homeDescription{
	height: 60%;
    width: 60%;
	z-index: 5;
	display: flex;
    justify-content: center;
	flex-direction: column; 
}


.white {
	color: var(--main-white);
}

.blue {
	color: var(--main-middle);
}

#greetingText {
	position: relative;
	font-size: 5.7vw;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 4px;
}

#personalDescriptionText {
	position: relative;
	font-size: 4.2vw;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 3px;
}

#personalDescription {
	position: relative;
	font-size: 4.2vw;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 3px;
}

#nameSparation {
	display: none;
}

#homeFullDescription {
	position: relative;
	font-size: 2vw;
	font-weight: 800;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 2px;
	top: 2vh;
}

#selfPictureArea {
	width: 40%;
	height: 60vh;
	display: flex;
    justify-content: center;
	flex-direction: column; 
	position: relative;
	right: 3vw;
}

#mePic{
	position: absolute;
	width: 24vw;
	left: -12vw;
	top: 3.4vw;
	z-index: 3;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 18vw solid transparent; 
    border-right: 18vw solid transparent;
    border-bottom: 30vw solid #52b4ED;
    position: relative;
	filter: drop-shadow(0 0 8px #52b4ED) drop-shadow(0 0 16px #52b4ED) drop-shadow(0 0 24px #52b4ED);
	z-index: 2;
	opacity: 1;
  }
  .triangle::after {
    content: '';
    position: relative;
    top: 2.5vw; 
    left: -13.8vw; 
    width: 0;
    height: 0;
    border-left: 13.8vw solid transparent; 
    border-right: 13.8vw solid transparent; 
    border-bottom: 24vw solid #0D1D2D;
	z-index: 1;
  }

@media (max-aspect-ratio: 1) {
	#headName {
		color: var(--main-white);
		margin-left: 4vw; 
		font-size: 3vh;
		font-weight: 800;
		font-family: 'Nunito', sans-serif;
		letter-spacing: 2px;
	}

    #extentButton {
        display: block;
		height: 5vh;
		width: 5vh;
		top: 1.3vh;
		position: fixed;
		right: 4vw;
    }

	#extentButtonPic1 {
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 1;
		z-index: 3;
	}

	#extentButtonPic2 {
		width: 60%; 
		height: 60%; 
		left: 20%;
		top: 20%;
		position: absolute;
		opacity: 0;
		z-index: 2;
	}

	#extentBoxBackground {
		width: 100vw;
		height: 100vh;
		position: fixed;
		overflow: hidden;
		top: 0vh;
		z-index: 8;
		background: rgba(15, 15, 15, 0.70);
		backdrop-filter: blur(40.0px);
		-webkit-backdrop-filter: blur(40.0px);
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		color: #EEEFF2;
		font-size: 3vh;
	}

	.navItems {
        display: none;
    }

	#homeArea {
		position: relative;
		left: 5%;
		top: 8vh;
		height: 80vh;
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center; 
		justify-content: space-evenly; 
	}

	#navItemsMobile {
		position: relative;
	}

	#homeDescription{
		height: 60%;
		width: 92%;
		z-index: 5;
		order: 2;
		display: flex;
		justify-content: center;
		flex-direction: column; 
	}

	#greetingText {
		position: relative;
		font-size: 10vw;
		font-weight: 800;
		font-family: 'Nunito', sans-serif;
		letter-spacing: 4px;
	}

	#personalDescriptionText {
		position: relative;
		font-size: 6.5vw;
		font-weight: 800;
		font-family: 'Nunito', sans-serif;
		letter-spacing: 3px;
	}
	
	#personalDescription {
		position: relative;
		font-size: 7vw;
		font-weight: 800;
		font-family: 'Nunito', sans-serif;
		letter-spacing: 3px;
	}

	#nameSparation {
		display: block;
	}

	#homeFullDescription {
		position: relative;
		font-size: 4vw;
		font-weight: 800;
		font-family: 'Nunito', sans-serif;
		letter-spacing: 2px;
		top: 2vh;
	}

	#selfPictureArea {
		width: 80%;
		height: 40vh;
		display: flex;
		justify-content: center;
		flex-direction: column; 
		position: relative;
		left: 10%;
		order: 1;
	}
	#mePic{
		position: absolute;
		width: 48vw;
		left: -24vw;
		top: 7vw;
		z-index: 3;
	}

	.triangle {
		width: 0;
		height: 0;
		border-left: 36vw solid transparent; 
		border-right: 36vw solid transparent;
		border-bottom: 60vw solid #52b4ED;
		position: relative;
		right: 12%;
		filter: drop-shadow(0 0 8px #52b4ED) drop-shadow(0 0 16px #52b4ED) drop-shadow(0 0 24px #52b4ED);
		z-index: 2;
		opacity: 1;
	  }
	  .triangle::after {
		content: '';
		position: absolute;
		top: 8vw;
		left: -27.6vw;
		width: 0;
		height: 0;
		border-left: 27.6vw solid transparent;
		border-right: 27.6vw solid transparent; 
		border-bottom: 48vw solid #0D1D2D;
		z-index: 1;
	  }
}


/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */